$devel-font-weight_normal: 400;
$devel-font-weight_bold: 600;
$devel-font-size_small: 13px;
$devel-font-size_medium: 14px;
$devel-font-size_large: 24px;

/* Color Palette */
$devel-primary: #333333;
$devel-secondary: #f2f2f2;

$gray-80: #333333;
$gray-60: #666666;
$gray-40: #999999;
$gray-20: #cccccc;
$gray-10: #e6e6e6;
$gray-5: #f2f2f2;
$white: #ffffff;

$devel_control-fill-error: #FCE0E0;
$devel_control-border-error: #FF5555;
$devel_control-fill: #E0F5FF;
$devel_control-border: #57BCFF;

$devel_margin-top: 7rem;
$devel_input-height: 2.8rem;
