$ctds-font-weight_normal: 400;
$ctds-font-weight_bold: 600;
$ctds-font-size_small: 13px;
$ctds-font-size_medium: 14px;
$ctds-font-size_large: 24px;

/* Color Palette */
$ctds-purple: #6759A0;
$ctds-purple-secondary: #463a71;

$gray-80: #333333;
$gray-60: #666666;
$gray-40: #999999;
$gray-20: #cccccc;
$gray-10: #e6e6e6;
$gray-5: #f2f2f2;
$white: #ffffff;

$ctds_control-fill-error: #FCE0E0;
$ctds_control-border-error: #FF5555;
$ctds_control-fill: #E0F5FF;
$ctds_control-border: #57BCFF;

$ctds_margin-top: 7rem;
$ctds_input-height: 2.8rem;
